Repository perdagingan/perdagingan.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin=prettier-plugin-astro, prettier --write

fix: correct workflow formatting
  .github/workflows/code-standards-checks.yml
  .github/workflows/deploy.yml
  .husky/pre-commit
  .lintstagedrc.json
  _layouts/default.html
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: idk part2
  .husky/pre-commit
  .prettierrc.mjs
Due: none

build: ok
  .github/workflows/code-standards-checks.yml
  .github/workflows/deploy.yml
  .idx/dev.nix
Due: prettier --write

build: ok2
  .github/workflows/deploy.yml
Due: prettier --write

fix: pnpm version typo and job naming
  .github/workflows/code-standards-checks.yml
Due: prettier --write

fix: something
  package.json
Due: prettier --write

fix: something2
  astro.config.ts
Due: prettier --write --plugin=prettier-plugin-astro

fix: something3
  .github/workflows/deploy.yml
Due: prettier --write

fix: wkwk
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

Create astro.yml
  .github/workflows/astro.yml
Due: prettier --write

fix: deploy
  .github/workflows/deploy.yml
  pnpm-lock.yaml
  src/content.config.ts
  src/pages/og.png.ts
  src/pages/posts/[...slug]/index.png.ts
  src/pages/rss.xml.ts
  src/utils/generateOgImages.ts
  src/utils/getPath.ts
  src/utils/getPostsByTag.ts
  src/utils/getSortedPosts.ts
  src/utils/getUniqueTags.ts
  src/utils/postFilter.ts
Due: prettier --write --plugin=prettier-plugin-astro, prettier --write

deploy2
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

malam
  .github/CODE_OF_CONDUCT.md
  README.md
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/data/blog/_releases/astro-paper-2.md
  src/data/blog/_releases/astro-paper-3.md
  src/data/blog/_releases/astro-paper-4.md
  src/data/blog/_releases/astro-paper-5.md
  src/data/blog/adding-new-post.md
  src/data/blog/customizing-astropaper-theme-color-schemes.md
  src/data/blog/dynamic-og-images.md
  src/data/blog/examples/example-draft-post.md
  src/data/blog/examples/portfolio-website-development.md
  src/data/blog/examples/tailwind-typography.md
  src/data/blog/examples/terminal-development.md
  src/data/blog/how-to-add-latex-equations-in-blog-posts.md
  src/data/blog/how-to-configure-astropaper-theme.md
  src/data/blog/how-to-integrate-giscus-comments.md
  src/data/blog/how-to-update-dependencies.md
  src/data/blog/predefined-color-schemes.md
  src/data/blog/setting-dates-via-git-hooks.md
  src/layouts/Layout.astro
  src/styles/typography.css
Due: prettier --write --plugin=prettier-plugin-astro, prettier --write

okelah
  package.json
  src/data/blog/customizing-astropaper-theme-color-schemes.md
  src/data/blog/dynamic-og-images.md
Due: prettier --write

updating About
  .github/FUNDING.yml
  public/dev.svg
  public/favicon.svg
  public/foto.jpg
  src/pages/about.md
  src/utils/loadGoogleFont.ts
Due: prettier --write --plugin=prettier-plugin-astro, prettier --write

updating About
  src/assets/icons/IconYoutube.svg
  src/constants.ts
  src/pages/index.astro
Due: prettier --write --plugin=prettier-plugin-astro

updating About
  package.json
Due: prettier --write

updating font
  src/utils/loadGoogleFont.ts
Due: prettier --write --plugin=prettier-plugin-astro

updating font
  src/constants.ts
  src/utils/loadGoogleFont.ts
Due: prettier --write --plugin=prettier-plugin-astro

Update global.css
  src/styles/global.css
Due: none

ganti margin di laman tags
  .vscode/settings.json
  src/components/Tag.astro
Due: prettier --write --plugin=prettier-plugin-astro, prettier --write

Update Tag.astro
  src/components/Tag.astro
Due: prettier --write --plugin=prettier-plugin-astro

post baru
  pnpm-lock.yaml
Due: none

post baru2
  pnpm-workspace.yaml
Due: none

post baru
  astro.config.ts
  src/data/blog/adding-new-post copy.md
  src/data/blog/adding-new-post copy.mdx
Due: prettier --write --plugin=prettier-plugin-astro, prettier --write

post baru2
  src/pages/og.png.ts
  src/pages/posts/[...slug]/index.png.ts
  src/utils/generateOgImages.ts
Due: prettier --write --plugin=prettier-plugin-astro

post baru2
  src/data/blog/adding-new-post copy.md
  src/data/blog/adding-new-post copy.mdx
  src/data/blog/mengulang-tahun.mdx
Due: prettier --write

Path conditions:
  prettier --write --plugin=prettier-plugin-astro: any of: *.{js,ts,astro}
  prettier --write: (any of: *.yml) or (any of: *.{json,md})
